{% extends base.html %} {% block content %}
{% for accplan in accplans %}

    <select name="{{ accplans.account_id - accplans.account_label}}">
        {% for segment in accplans.segmentplan %}
            <select name="{{ segment.segment_id - segment.segment_label }}">
                {% for niche in accplans.segmentplan.nicheplan %}
                    <p name="niche">{{ niche.niche_id - niche.niche_label }}</p>
                {% endfor %}
            </select>
        {% endfor %}
    </select>

{% endfor %}
{% endblock %}
